{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<table class='tallas product'>
	<tbody>
		<tr>
			<th><ly-as-4182725>INT</ly-as-4182725></th>
			<th><ly-as-4182726>EUR</ly-as-4182726></th>
			<th><ly-as-4182727>UK</ly-as-4182727></th>
			<th><ly-as-4182728>USA</ly-as-4182728></th>
			<th><ly-as-4182729>AUS</ly-as-4182729></th>
			<th><ly-as-4182730>IT</ly-as-4182730></th>
			<th><ly-as-4182731>MEX</ly-as-4182731></th>
			<th><ly-as-4182732>CAN</ly-as-4182732></th>
		</tr>
		<tr>
			<th><ly-as-4182733>XS</ly-as-4182733></th>
			<td>32</td>
			<td>6</td>
			<td>2</td>
			<td>6</td>
			<td>38</td>
			<td>1</td>
			<td>4</td>
		</tr>
		<tr>
			<th>S</th>
			<td>34</td>
			<td>8</td>
			<td>4</td>
			<td>8</td>
			<td>40</td>
			<td>3</td>
			<td>6</td>
		</tr>
		<tr>
			<th>M</th>
			<td>36</td>
			<td>10</td>
			<td>6</td>
			<td>10</td>
			<td>42</td>
			<td>5</td>
			<td>8</td>
		</tr>
		<tr>
			<th>L</th>
			<td>38</td>
			<td>12</td>
			<td>8</td>
			<td>12</td>
			<td>44</td>
			<td>7</td>
			<td>10</td>
		</tr>
	</tbody>
</table>



<h1 class='european'><ly-as-4182734>European Meassures</ly-as-4182734></h1>

<table class='european'>
	<tbody>
		<tr>
			<th></th>
			<th colspan="2"><ly-as-4182733>XS</ly-as-4182733></th>
			<th colspan="2">S</th>
			<th colspan="2">M</th>
			<th colspan="2">L</th>
		</tr>
		<tr>
			<th></th>
			<th><ly-as-4182735>Inches</ly-as-4182735></th>
			<th><ly-as-4182736>Cm</ly-as-4182736></td>
			<th><ly-as-4182735>Inches</ly-as-4182735></th>
			<th><ly-as-4182736>Cm</ly-as-4182736></td>
			<th><ly-as-4182735>Inches</ly-as-4182735></th>
			<th><ly-as-4182736>Cm</ly-as-4182736></th>
			<th><ly-as-4182735>Inches</ly-as-4182735></th>
			<th><ly-as-4182736>Cm</ly-as-4182736></th>
		</tr>
		<tr>
			<td><ly-as-4182737>bust</ly-as-4182737></td>
			<td>32,5-33,5</td>
			<td>82,5-85</td>
			<td>34-35</td>
			<td>86,5-89</td>
			<td>35-36</td>
			<td>89-91,4</td>
			<td>36-37</td>
			<td>91,4-94</td>
		</tr>
		<tr>
			<td><ly-as-4182738>waist</ly-as-4182738></td>
			<td>25-26</td>
			<td>63,5-66</td>
			<td>26-27</td>
			<td>66-68,6</td>
			<td>28-29</td>
			<td>71-73,7</td>
			<td>29-30</td>
			<td>73,7-76,2</td>
		</tr>
		<tr>
			<td><ly-as-4182739>hips</ly-as-4182739></td>
			<td>36-37</td>
			<td>91,4-94</td>
			<td>37-38</td>
			<td>94-96,5</td>
			<td>39-40</td>
			<td>99-101,6</td>
			<td>40-41</td>
			<td>101,6-104</td>
		</tr>
	</tbody>
</table>
